@import "tailwindcss";

body {
    font-size: 16px;
    background-color: hsl(234, 29%, 20%);
    /*color: hsl(202, 55%, 16%);*/
    font-family: Roboto-Regular, "sans-serif";
    color: black;
}

#root {
    @apply min-h-screen;
}

@font-face {
    font-family: Roboto-Bold;
    src: url("../src/assets/fonts/Roboto-Bold.ttf") ;
}

@font-face {
    font-family: Roboto-Regular;
    src: url("./assets/fonts/Roboto-Regular.ttf") ;
}

@theme{
    --font-Roboto-bold: Roboto-Bold, "sans-serif";
    --font-Roboto-Regular: Roboto-Regular, "sans-serif";

    --color-Red: hsl(4, 100%, 67%);
    --color-Rose: hsl(344, 100%, 66%);
    --color-Orange: hsl(15, 100%, 61%);
    --color-Blue-800: hsl(234, 29%, 20%);
    --color-Blue-700: hsl(235, 18%, 26%);
    --color-Grey: hsl(0, 0%, 58%);
    --color-White: hsl(0, 0%, 100%);


    /*--breakpoint-sm: 375px;*/
    --breakpoint-2xl: 1440px;
    /*--text-base: 1rem;*/
    --text-sm: 0.8rem;
    --text-3xl: 3rem;

}
@layer base {
    main {
        @apply min-h-screen flex items-center justify-center;
    }
}

@layer components {
    .form-control {
        @apply flex flex-col items-start justify-center p-10 mr-2 gap-6 flex-1/2;
    }

    .form-control h1 {
        @apply text-3xl font-Roboto-bold;
    }

    .form-text {
        @apply flex flex-row gap-3;
    }

    .form-input {
        @apply flex flex-col gap-2 ;
    }

    .label {
        @apply flex flex-row justify-between items-center text-sm font-Roboto-bold;
    }

    .form-input input {
        @apply py-3 px-6 w-full bg-white outline-none border-[1.5px] rounded-[10px] text-black border-Grey;
    }

    .form-input input:hover {
        @apply cursor-pointer;
    }

    .form-input input:focus {
        @apply text-black border-black border-[1px];
    }

    .form-input span {
        @apply text-Red;
    }

    .input-error {
        @apply not-focus-within:!border-Red not-focus-within:!bg-Red;
    }

    .input-container {
        @apply rounded-[10px];
    }

    .submit-btn {
        @apply flex flex-row
        bg-Blue-700 rounded-[10px] w-full text-White
        px-4 py-3
        font-Roboto-Regular gap-3 items-center justify-center
    }

    .submit-btn:hover {
        @apply bg-gradient-to-r from-Rose to-Orange text-white py-3 px-6 shadow-md hover:shadow-lg transition-shadow duration-300 cursor-pointer;
    }

    .item-card-image {
        @apply w-full h-auto;
    }

    .picture {
        @apply flex items-center justify-center w-full flex-1/2;
    }

    .modal-container {
        @apply fixed flex h-screen w-full top-0 bg-Blue-800
        z-40 left-0 items-center justify-center;
    }

    .modal-content {
        @apply flex flex-col bg-White rounded-3xl p-10 w-full md:w-1/4 gap-6;
    }
    .modal-content h1{
        @apply leading-none;
    }}