@import "tailwindcss";

body {
    font-size: 16px;
    /*background-color: hsl(148, 38%, 91%);*/
    /*color: hsl(202, 55%, 16%);*/
    /*font-family: Karla-Regular, "sans-serif";*/
    color: hsl(187, 24%, 22%);
}

#root {
    @apply min-h-screen;
}

@font-face {
    font-family: Roboto-Bold;
    src: url("../src/assets/fonts/Roboto-Bold.ttf") ;
}

@font-face {
    font-family: Roboto-Regular;
    src: url("./assets/fonts/Roboto-Regular.ttf") ;
}

@theme{
    --font-karla-bold: Roboto-Bold, "sans-serif";
    --font-karla-Regular: Roboto-Regular, "sans-serif";

    --color-Red: hsl(4, 100%, 67%);
    --color-Blue-800: hsl(234, 29%, 20%);
    --color-Blue-700: hsl(235, 18%, 26%);
    --color-Grey: hsl(0, 0%, 58%);
    --color-White: hsl(0, 0%, 100%);


    /*--breakpoint-sm: 375px;*/
    --breakpoint-2xl: 1440px;
    /*--text-base: 1rem;*/
    /*--text-sm: 1.15rem;*/

}
@layer base {
    main {

    }
}

@layer components {

}